<ion-view view-title="Configuración">		      
    <ion-content >
        <ion-list>
        	<div class="item item-divider">
			    General
			</div>
			<label class="item item-input item-select">
			    <div class="input-label">
			      Idioma
			    </div>
			    <select>
			      <option selected>Español</option>
			      <option>Inglés</option>
			      <option>Portugués</option>
			      <option>Francés</option>
			    </select>
			</label>
			<ion-item ng-click="login()">
				Login
			</ion-item>
			<div class="item item-divider">
			    Descubrimiento
			</div>
			<li class="item item-toggle">
		     	Solo cuentos nacionales
		     	<label class="toggle toggle-dark">
		       		<input type="checkbox">
		       		<div class="track">
		         	<div class="handle"></div>
		       		</div>
		    	</label>
		  	</li>
		  	<li class="item item-toggle">
		     	Recomendar similares 
		     	<label class="toggle toggle-dark">
		       		<input type="checkbox">
		       		<div class="track">
		         	<div class="handle"></div>
		       		</div>
		    	</label>
		  	</li>
     
			      
		</ion-list>
    </ion-content>	            
</ion-view>