<ion-view view-title="Lo que va quedando">
  <ion-content>
  	<div class="card ">
	  <div class="item item-text-wrap">
	    <p>Siete cigarros en mi cajetilla, media taza de café sobre mi escritorio, veinticinco páginas del informe final de antropología, diecisiete días para que haya luna llena, trece píldoras en mi caja de anticonceptivos, dos horas y media para que salga el sol, tres años para terminar la carrera, veintidós mil cuatrocientos trece pesos en mi cuenta de ahorro, dos mensajes de texto por enviar y cuatro llamadas perdidas en mi celular.
		</p>
	    <p>
	    	Dámari Rijo, 21 años, San Miguel
	    </p>
	  </div>
	</div>
    
  </ion-content>
	<div class="tabs tabs-icon-only">
	  <a class="tab-item">
	    <i class="icon ion-thumbsup"></i>
	  </a>
	  <a class="tab-item">
	    <i class="icon ion-archive"></i>
	  </a>
	  <a class="tab-item">
	    <i class="icon ion-share"></i>
	  </a>
	</div>  
</ion-view>
