<ion-view view-title="Escribe un Cuento">

	<ion-content  >
		<div class="list">
		  	<label class="item item-input item-stacked-label">
		    	
				<input type="text" placeholder="Titulo">
		  	</label>
		  
	  		<div class="item item-text-wrap col cuento" style="height: 250px" >
				<textarea  name="comment" id="comment-textarea" placeholder="Escribe tu cuento aquí!"  ng-model="incident.comment">
				</textarea>	
			</div>	
		</div>
		
		<button class="button button-block button-dark" style="postition">
			Publicar
		</button>
		

	</ion-content>

</ion-view>