<ion-modal-view class="blurred-bg">
  
  <ion-content>
    <div class="row cuento">
      <div class="col col-80 col-offset-10 col-top ">
            <br></br>
         <h1 id="titulo-login" class="cuento">Cien Palabras</h1>
          <br></br>

      </div>
     
    </div>
    <div class="row row-center">
      <div class="col col-80 col-offset-10 col-center ">
        <form ng-submit="doLogin()">
          <div class="list">
            <label class="item item-input">              
              <input type="text" ng-model="loginData.username" placeholder="Username">
            </label>
            <label class="item item-input">
              <input type="password" ng-model="loginData.password" placeholder="Password">
            </label>
            <label class="item">
              <button class="button button-block button-dark" type="submit">Ingresar</button>
            </label>
          </div>
        </form>      
        
      </div>
    </div>
    <div class="row row-bottom">
      <div class="col col-offset-50 col-bottom ">
         <br></br>
         <br></br>
         <br></br>
         <i class="icon-lg ion-close"  ng-click="closeLogin()"></i>
      </div>
        
      
    </div>
  </ion-content>
</ion-modal-view>

<div class="row">
  <div class="col col-center padding-horizontal">
    

  </div>
</div>