<button class="button button-outline button-block button-dark icon-left ion-social-facebook " ng-click=showPopup.close()>Facebook</button>
<button class="button button-outline button-block button-dark icon-left ion-social-twitter "  ng-click=showPopup.close() >Twitter</button>
<button class="button button-outline button-block button-dark icon-left ion-social-whatsapp "  ng-click=showPopup.close() >Whatsapp</button>
<button class="button button-outline button-block button-dark icon-left ion-social-instagram "  ng-click=showPopup.close() >Instagram</button>