<ion-view >
  <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-share" ng-click="showPopup()">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

  <ion-content class="user-content" has-header="true">
    
    <div id="content">
      
	  <ion-list class="lista-user">
	  	<div class="item item-image">
	    	<img id="cover-img" src="{{user.cover}}">
	  	</div>
	  	<a class="item item-dark item-thumbnail-left profile-info">
	  		<img id="profile-image" src="{{user.img}}">
	  		<h2 >{{user.nombre}}</h2>
	  		<p> {{user.ciudad+', '+user.pais}}</p>
	  		<p> {{user.edad}} Años </p>
	  	</a>
	  	<div class="item item-divider" ng-show="user.bio">
			    Bio
		</div>
		<div class="item" ng-show="user.bio">			
		  <div class="item item-text-wrap bio">
		    "{{user.bio}}"
		  </div>			
		</div>

	  	<div class="item item-divider ">
			    Cuentos
			    <span class="badge badge-dark">{{user.cuentos}}</span>
		</div>
	    <ion-item id="cuentos-user"  ng-repeat="result in cuentos" href="#/app/cuento" ng-show="user.cuentos > 0">         
	        <h2 class="list-text">{{result.title}}</h2>
	        <p>{{result.date}}</p>      
	        <p>
	        <div class="buttons row">
		        <button class="button button-clear col">
		            <span>{{result.likes}}</span>
		            <i class="icon ion-thumbsup"></i>
		        </button>
		        <button class="button button-clear col">
		            <span>{{result.dislikes}}</span>
		            <i class="icon ion-thumbsdown"></i>
		        </button>
		        <button class="button button-clear col">
		            <span>{{result.views}}</span>
		            <i class="icon ion-eye"></i>
		        </button>						        
		    </div>
	        	
	        </p>
	    </ion-item>

      </ion-list>
    </div>
  </ion-content>      
</ion-view>