.titulo {
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	color:#4E443C;
	font-variant: small-caps; text-transform: none; font-weight: 100; margin-bottom: 0;

}
.texto {
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, serif;

}